{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>ADMET</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--  -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.w3-button {width:150px;}
</style>
</head>
<head>
    <body>
        <hr>
        <h3>
            <a href="/">Back home</a>
        </h3>
    </body>
    <body>
        <hr>
        <div class="container">
            <h1 class="display-7"  style="color:rgb(61, 168, 61) !important">ADMET</h1>
            <hr>
            <h3 class="display-7"  style="color:rgb(61, 168, 61) !important">Metabolic profile of Biofacquim database compared against FDA library.</h3>
            <hr>
            <div class="jumbotron text-align"  style="background:rgb(61, 168, 61) !important">
                    <h3 class="display-7"  style="color:whitesmoke">Chemical Space</h3>
                    <br>
            </div>
        <div class="container">
                <div class="row">
                    <div class="column">
                          <img src={% static "espacioquimico_swiss.png" %}  alt="swiss" style="width:100%">
                    </div>
                    <div class="column">
                          <img src={% static "espacioquimico_pkcsm.png" %}  alt="pkcsm" style="width:100%">
                    </div>
                </div> 
        </div>
            <hr>
            <div class="jumbotron text-align"  style="background:rgb(61, 168, 61) !important">
                    <h3 class="display-7"  style="color:whitesmoke">Metabolic profile</h3>
                    <br>
            </div>
            <hr>
        <div class="container">
                <img src={% static "grafico_categoricos_swiss.png" %}  alt="swiss" style="width:130%">
                <br>
                <img src={% static "grafico_categoricos_pkcsm.png" %}  alt="pkcsm" style="width:130%">
                <br>
        </div>
    </body>
</head>