{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>search</title>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<head>
<head>
    <body> 
    <div class="container">
            <h3>
                <a href="/">Back home</a>
            </h3>
            <h2 style="color:rgb(61, 168, 61) !important"'>Basic search</h2>
                <div class="row">
                    <form method="post"> {% csrf_token %}
                        {% for field in form %}
                            <div class="col-md-3">
                                <h3 style="border:2px solid rgb(61, 168, 61)">{{ field.label }}</h3>
                                <p style="color:rgb(61, 168, 61) !important">{{ field }}</p>
                            </div>
                        {% endfor %}
                     <input type="submit" class="btn btn-primary btn-lg btn-block"  style="background-color: rgb(61, 168, 61) " value="Search">
                    </form>
                </div>
    </div>
    </body>
</head>
</html>
