{% load static %}
<html lang="en">
<head>
    <title>Statistics</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css" type="text/css" />
<body>
        <h2>
            <a href="/">Back to home</a>
        </h2>
        <div class="container">
        <h2 style="color:rgb(61, 168, 61) !important">Statistics</h2>    
        <img src={% static "Kingdom.png" %} alt="kingdom" >
        </div>
        <div class="container">
                {{ div | safe }}
                <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
                {{ script | safe }}            
        </div>
    </body>
</html>
        