<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Data</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 </head>
 <body>
    <div class="container">
        <div class="row">
            <h2><a href="/search">Back </a></h2>
            <!-- <h4><input type="button" value="Download CSV" -->
                <!-- onclick="window.location.href='/download_csv'"></h4> -->
        </div>
    </div>
     {{ div | safe }}
</body>
    {{loaded_data | safe}}
</html>